.new-task {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

input {
    padding: 5px 15px;
    min-width: 300px;
    /* border: none; */
}

.new-task button {
    background: tomato;
    color: #fff;
    padding: 12px 15px;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    border: none;
    margin-top: 5px;
}